In [2]:
import numpy as np
import pandas as pd

In [7]:
seris2 = pd.Series(np.random.randn(5), index = ["a","b","c","d","e"])
print(seris2)

a    0.420689
b   -1.010138
c   -0.186596
d   -0.684025
e    3.691452
dtype: float64

In [15]:
series1 = pd.Series([3,4,5,6],index =["a","b","c","d"])
print(series1)

a    3
b    4
c    5
d    6
dtype: int64

In [11]:
data = {"maths": 43, "English":87, "Bio":60, "Lit":65}
series3 = pd.Series(data)
print(series3)

maths      43
English    87
Bio        60
Lit        65
dtype: int64

In [34]:
#creating a dataframe from a dictionary of series
data_dict = {"one": pd.Series([1,2,3,4], index=["a","b","c","d"]), "two":pd.Series([3,5,7,8,9], index=["a","b","c","d","e"])}
df = pd.DataFrame(data_dict)
print(df)
df["three"]= df["one"]*df["two"]
#print(df.describe())
#print(df.info())
#print(df.head())
#print(df.isna())
#print(df.isna().any())
#print(df["one"].unique())

   one  two
a  1.0    3
b  2.0    5
c  3.0    7
d  4.0    8
e  NaN    9

In [22]:
new_df = pd.DataFrame(df, columns=["one","three"])
print(new_df)

   one  three
a  1.0    3.0
b  2.0   10.0
c  3.0   21.0
d  4.0   32.0
e  NaN    NaN

In [24]:
new_df = df["one"]
print(new_df)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: one, dtype: float64

In [35]:
data = {"name":pd.Series(["Bayo","Dayo","Mayo"],index=["a","b","c"]), 
        "age":pd.Series([16,17,15],index=["a","b","c"]),
        "gender":pd.Series(["female","Male","Male"],index=["a","b","c"]),
        "nickname":pd.Series(["B","D","M"],index=["a","b","c"])}
df = pd.DataFrame(data)
print(df)

   name  age  gender nickname
a  Bayo   16  female        B
b  Dayo   17    Male        D
c  Mayo   15    Male        M

In [ ]:
file_df = pd.read_csv()  
print(file_df.head(10))

In [3]:
my_df = pd.read_csv("https://raw.githubusercontent.com/aiplanethub/Datasets/master/airbnb%20_data/airbnb_listing_train.csv")
#print(my_df.head()[["id","host_name","minimum_nights","price"]])
#print(my_df.info())
#print(my_df.isna())
#print(my_df.isna().any())

my_df2 = my_df.loc[(my_df["number_of_reviews"] >= 30) & (my_df["price"] >= 40), ["id", "host_name","neighbourhood","room_type", "minimum_nights", "reviews_per_month", "price","number_of_reviews"]]
#print(my_df2)

print(my_df2["room_type"].unique())
#lower(), upper(), capitalize(), startswith(), isnumeric(), split(), strip(), lstrip(),rstrip()

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']